<!DOCTYPE html>
<html>
<head>
	<title>Output</title>
</head>
<style type="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
.serif {
  font-family: "Times New Roman", Times, serif;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: 15px;
  padding: 8px;
}
</style>
<body>

<table align = "center">
<tr>
<th>Batch number</th>
<th>Order id</th>
<th>Aisle</th>
<th>Shelf</th>
<th>Optimal path</th>
<th>Cost</th>
<th>Actual Cost</th>
</tr>
{% for batch in table %}
	<tr>
		{% for b in batch %}
		<td class="serif">{{b}}</td>
		{% endfor %}
	</tr>
{% endfor %}
</table>
<br>
<!-- <img src="http://localhost:8000/static/path1.png" align="center" style="width:400px;height:500px;"> -->
<div id = "path" align = "center">

	{%for img in imgnames%}
	<br>
	<img src="http://localhost:8000/static/{{img}}" align="center" style="width:500px;height:500px;"><br>
	{%endfor %}
</div>

<br>
<table align = "center"> 	
	


{%for items in paths_table%}
<tr>
{%for item in items %}
	<td>{{item}}</td>

{%endfor%}
</tr>

{%endfor%}
</table>



</body>
</html>